{% extends 'blog/base.html' %}

{% block header %}

{% load static %}

<header class="masthead" style="background-image: url({% static 'blog/assets/img/about-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>{{title}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock header %}

{% block main_content %}

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p> Mi nombre es Tyler Cruz, tengo 25 años, estudio ingeniería de sonido en la <a href="http://untref.edu.ar/">UNTREF</a> y actualmente me estoy adentrando en el mundo de la programación.</p>
                <p> Esta web fue creada utilizando los conocimientos adquiridos en el curso de programación en Python de <a href="https://www.coderhouse.com/">Coderhouse.</a> Con el fin de cumplir con las consignas indicadas <a href="https://docs.google.com/presentation/d/1p1vEmPssZhJgTupicC_11pdPBnKnIP5CAANu4A86mHQ/edit#slide=id.gf2d4c9820c_0_7">acá.</a></p>
                <p> Para su implementación, se utilizó además el framework de <a href="https://www.djangoproject.com/">django</a> y plantillas de <a href="https://getbootstrap.com/">Bootstrap.</a></p>
            </div>
        </div>
    </div>
</article>

{% endblock main_content %}