{% extends 'blog/base.html' %}

{% block header %}

{% include 'blog/components/header.html' %}

{% endblock header %}

{% block main_content %}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for post in posts %}
            <div class="post-preview">              
                <h2 class="post-title">{{post.title}}</h2>
                <h3 class="post-subtitle">{{post.subtitle}}</h3>
                <p class="post-meta">Posteado por {{post.author}} el {{post.date}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock main_content %}