<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <h1>Listado de posts</h1>

    <ul>
        {% for posts in object_list %}
            <li>
                <p>Título: {{posts.title}}</p>
            </li>
        {% endfor %}
    </ul>
    
    <a class="navbar-brand" href="{% url 'Inicio' %}">Volver al inicio</a>

</body>
</html>