<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <h1>Listado de posts</h1>

    <ul>
        {% for posts in object_list %}
            <li>
                <p>{{posts.title}}</p>
                    <a href="{%url 'Detail' posts.id%}">Leer más</a>
                    <a href="{%url 'Update' posts.id%}">Actualizar</a>
                    <a href="{%url 'Delete' posts.id%}">Borrar</a>
            </li>
        {% endfor %}
    </ul>
    
    <div class="container mt-5">
        <a class="navbar-brand" href="{% url 'Create' %}">Nuevo post</a>
    </div>

    <div class="container mt-5">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Volver al inicio</a>
    </div>

</body>
</html>