<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Home' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'Posts' %}">Posts</a>
        
        {% if not request.user.is_authenticated %}
            
            <a class="btn btn-primary" href="{% url 'register' %}">Regístrate</a>
            <a class="btn btn-primary" href="{% url 'login' %}">Iniciar sesión</a>
            
        {% else %}
            <a class="text-muted mb-4 mb-lg-0">{{request.user.username}}</a>
            <img src="{{image_url}}" alt="Imagen" width="4%">
            <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>   
        {% endif %}

    </div>
</nav>